.App {
  background-color: #660033;
  min-height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 0px;
  padding: 15px;
  letter-spacing: 5px;
}